{%extends "customers_items_layout.html"%}
{%block content%}


  <nav class="navbar-fixed-top navbar-expand-lg navbar-light">
    <div class="navbar-nav navbar-fixed-top">
      <a class="nav-item nav-link" href="{{ url_for('home') }}"><button class="btn btn-outline-success" type="button">HOME</button></a>
      <a class="nav-item nav-link" href="{{ url_for('customers') }}"><button class="btn btn-outline-success" type="button">CUSTOMERS</button></a>
      <a class="nav-item nav-link" href="{{ url_for('items') }}"><button class="btn btn-outline-success" type="button">ITEMS</button></a>

    </div>

<div class="jumbotron">
  <form method="post">
      {{form.hidden_tag()}}
      <ul>
        <li>{{form.customer_id.label}}</li>{{form.customer_id()}}
        <li>{{form.first_name.label}}</li>{{form.first_name()}}
        <li>{{form.last_name.label}}</li>{{form.last_name()}}
        <li>{{form.address.label}}</li>{{form.address()}}
        <li>{{form.email.label}}</li>{{form.email()}}
        <li>{{form.phone.label}}</li>{{form.phone()}}
        <li>{{form.basket.label}}</li>{{form.basket()}}
        <li>{{form.buy.label}}</li>{{form.buy()}} <br><br>
        {{form.submit()}}
    </ul>
  </form>
</div>
{%endblock content%}
