{%extends "customers_items_layout.html"%}
{%block content%}


  <nav class="navbar-fixed-top navbar-expand-lg navbar-light">
    <div class="navbar-nav navbar-fixed-top">
      <a class="nav-item nav-link" href="{{ url_for('home') }}"><button class="btn btn-outline-success btn-sm" type="button">HOME</button></a>
      <a class="nav-item nav-link" href="{{ url_for('customers') }}"><button class="btn btn-outline-success btn-sm" type="button">CUSTOMERS</button></a>
      <a class="nav-item nav-link" href="{{ url_for('add_new_item') }}"><button class="btn btn-outline-primary btn-sm" type="button">Add new item</button></a>

      <button class="btn  btn-outline-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_category')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Category</button></a>
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_model')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Model</button></a>
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_name')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Name</button></a>
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_serial')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Serial Number </button></a>
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_quantity')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Quantity</button></a>
        <a class="dropdown-item btn-outline-dark" href="{{url_for('search_by_price')}}"><btton class="btn btn-outline-primary btn-sm" type="button">Price</button></a>
      </div>

    </div>

  </nav>
<div class="jumbotron">
  {% for message in get_flashed_messages()%}
        <p></p>
        <div class="alert alert-success">
          <strong>{{message}}</strong>
        </div>
  {% endfor %}
  
</div>
<div style="height:520px;width:520  px;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
  <strong>{%for item in all_items%}</strong>
  <ul class="list-group">
    <li class="list-group-item list-group-item-light"> <a href={{item.item_id}}><button class="btn btn-sm btn-outline-secondary" type="button">{{item}}</button></a></li>
  </ul>
  {%endfor%}
</div>
{%endblock content%}
